*{
    font-family:"open sans", sans serif;
    margin:0;
    padding:0;
}

header.ust{
    background-image:url(images/Picture.jpg);
    width:100%;
    height:100vh;
    background-size:cover;
    position:relative;
   
    
}
header h1{
position:relative;
font-size: 18px;
color:white;
font-weight: 300;
top:40px;
text-transform: uppercase;
margin-left:30px;
font-family: 'Raleway', sans-serif;

}


header a{
    text-decoration: none;
    color:white;
    font-weight: 700;
}
header ul{
    position: relative;
    float:right;
 
    list-style:none;
}

header ul li{
    float:left;
    padding:20px;
}

header ul li a {
    font-family:"open sans" ;
    font-weight: 100;
    font-size: 16px;
    transition: 0.2s;
}
header ul li a:hover{
color:black;
}
header #banner{
    width:100%;
position:absolute;
text-align: center;
top:40%;

}
#banner h2{
    color:black;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 20px;

}
#banner p{
font-size:22px;

text-transform: uppercase;
letter-spacing:2px;
margin-bottom:40px;
color:white;

}

#banner a{
    padding:10px 15px;
    background:red;
    text-transform:uppercase;
    border-radius:5px;
    font-weight: 200;

}
/* bolum 2*/

.bolum2{
    width:1000px;
    margin:0 auto;
    padding:50px 0;
}
.kapsayici{
    width:1000px;
    margin:0 auto;
}
.bolum2 .kapsayici .left{
    width:400px;
    float:left;
    padding-left:50px;
    margin-left:50px;
}
h2{
    font-family:'Raleway', sans-serif; 
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    color:#484848;
}
p{
    font-family:'Raleway', sans-serif; 
    font-size: 20px;
    font-weight: 300;
    line-height: 40px;
    text-transform: uppercase;
    color:#aaa;
   margin-top: 10px;

}
.bolum2 .right article{
    width:400px;
    float:right;
    padding-right:50px;
    margin-right:50px;
    
   
}
.bolum2 .right p{
    line-height: 30px;
    color:#666;
    margin-bottom: 20px;
}
.temizle{
    clear:both;
}

/* Bolum 3 */
.bolum3{
    width:100%;
    background-color: #f6f6f6;
    margin:0 auto;
    padding:40px 0;
    text-align:center;
}
.bolum3 .kapsayici3{
    max-width: 850px;
    margin:0 auto;
   padding-left:33px;
}

.bolum3 .resim{
    width:400px;
    float:left;
    border:1px solid #ccc;
    margin:20px 10px;
    
   box-shadow: 1px 1px 3px #ccc;
    
}
.resim p{
    font-size:16px;
    margin-top:0;
}

.bolum3 ul{
   list-style-type:none;
   max-width: 500px;
   margin:20px auto;

}
.bolum3 ul li{
    display:inline-block
 
}
  
.bolum3 ul li a{
    display:block;
    padding:10px 30px;
    color:white;
    background: red;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    
}
.bolum3 ul li:nth-child(2) a{
    background: grey;
}

/* Bolum 4 */
.bolum4{
    width:100%;

}
.bolum4 header{
    margin:20px;
    padding:10px;
    background-color:#d06f06;
}
.bolum4 .kapsayici4{
    width:850px;
    height:800px;
    background-color:aqua;
    margin:0 auto;
   
   
}
.kutu1, .kutu2, .kutu3, .kutu4{
    width:400px;
    height:200px;
    background-color: #06d057;
    float:left;
    margin:10px;
    position:relative;
}

.kutu2 .yazi, .kutu4 .yazi{
    width:65%;
    height:190px;
    background-color:#d57724;
    float:right;
    position:relative;

}



.kutu2 .resim, .kutu4 .resim{
    width:30%;
    background-color: #bcda0f;
    height:100px;
    position:relative;
    float:left;
}
.kutu1 .yazi, .kutu3 .yazi{
    width:65%;
    height:190px;
    background-color:#d57724;
    float:left;
    position:relative;

}
.kutu1 .resim, .kutu3 .resim{
    width:30%;
    height:100px;
    background-color:#bcda0f;
    float:right;
    position:relative;

}
